.comments-view-container {
    width: 100vw;
    height: 100vh;
    display: grid;
}

.comments-view-container input,select {
    background-color: #F3F2EA;
    border: none;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    outline: 0 !important; 
}

.comments-view-container button{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #3F7F7F;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: #FFF;
    font-weight: 800;
    cursor: pointer;
    transition: .2s;
    outline: 0 !important; 
}

.comments-view-container button:hover {
    background-color: #4a9e9e;
}

.comments-view-container .listContainer {
    display: flex;
    flex-direction: column;
}

.comments-view-container .listContainer .titleContainer {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.comments-view-container .listContainer .titleContainer .toggleMenu {
    border: none;
    background: none;
    color: #3F7F7F;
    cursor: pointer;
    outline: none;
    max-width: 64px;
}

.comments-view-container .listContainer .titleContainer  span {
    font-size: 14px;
    font-weight: 600;
    align-self: center;
}

.comments-view-container .listContainer .listActionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments-view-container .listContainer .listActionsContainer input{
    width: 90%;
    max-width: 500px;
}

.comments-view-container .listContainer .listActionsContainer button {
    margin-top: 10px;    
}

.comments-view-container .listContainer .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    align-items: center;
    margin-top: 18px;    
}

.comments-view-container .listContainer .list .title {
    font-size: 14px;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    margin-bottom: 16px;
}

.comments-view-container .listContainer .list .itemContainer {
    display: flex;
    width: 100%;
    background-color: #FBFCF7;
    color: #000;
    justify-content: space-between;
    cursor: pointer;
    transition: .2s;
    outline: 0 !important;        
}

.comments-view-container .listContainer .list .itemContainer:hover {
    background-color: #F3F2EA;
}

.comments-view-container .listContainer .list .itemContainer .itemContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comments-view-container .listContainer .list .itemContainer .itemContent .noteTitle{
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.comments-view-container .listContainer .list .itemContainer .itemContent .noteBody {
    color: #5B5B5B;
    text-align: left;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}






.comments-view-container .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.comments-view-container .content .header {
    display: flex;
    justify-content: space-between;
}


.comments-view-container .content .header .hideMenu {
    background-color: rgba(0, 0, 0, 0);   
    border: none; 
    cursor: pointer;
    color: #9C9C96;
    transition: .2s;
    outline: 0 !important;
    width: auto;
    padding: 0;
}

.comments-view-container .content .header .hideMenu:hover {
    color: #6b6b67;
}

.comments-view-container .content .header .actions {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: flex-end;
}

.comments-view-container .actions .inactiveButton { 
    justify-self: flex-end;
    align-self: flex-end;
    background-color: #F3F2EA;
    color: #B4B4B4;
    margin-left: 5px;
}

.comments-view-container .actions .inactiveButton:hover {
    background-color: #751b14;
    color: #FFF;

}

.comments-view-container .editorContainer {
    display: flex;
    flex-direction: column;
}


.comments-view-container .editorContainer .editorHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.comments-view-container .editorContainer .editorHeader .note-title {
    width: 50%;
}

.comments-view-container .editorContainer .editorHeader .date {
    width: 20%;
}

.comments-view-container .editorContainer .editor {
    margin-top: 10px;
    
}

.comments-view-container .editorContainer .editor .noteInput {
    background-color: #F3F2EA;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    resize: vertical;
    outline: 0; 
}

.comments-view-container .floatIcon {
    position: fixed;
    right: 16px;
    bottom: 16px;

}

.comments-view-container .floatIcon button {
    padding: 12px;
    border: none;
    background-color: #3F7F7F;
    border-radius: 50%;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: .2s;
    outline: 0 !important;
    padding: 0px;
    width: 64px;
    height: 64px;
}

.comments-view-container .floatIcon .saveNote:hover {
    background-color: #4a9e9e;

}
/* @media (max-width: 1100px){
    .sidebarContainer {
        display: none;
    }
    .content {
        width: 100%;
    }

    .editorContainer .editorHeader {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .editorContainer .editorHeader .title {
        width: 100%;
    }
    
    .editorContainer .editorHeader .date {
        width: auto;
        margin-top: 10px;
        
        align-self: flex-end;
    }
} */

@media (max-width: 600px){

    .comments-view-container .editorContainer .editorHeader {
        flex-direction: column;
    }

    .comments-view-container .editorContainer .editorHeader .title {
        width: 100%;
    }
    
    .comments-view-container .editorContainer .editorHeader .date {
        width: auto;
        margin-top: 10px;
        align-self: flex-end;
    }

    .floatIcon { 
        display: block;
    }
}



    
    
    
