.notes-view-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #FFF;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    overflow-x: scroll;
}

.notes-view-container input, select {
    background-color: #F3F2EA;
    border: none;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    
}

.notes-view-container .button, .toggleOption, .button-clear{
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #3F7F7F;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: #FFF;
    font-weight: 800;
    cursor: pointer;
    transition: .2s;
    outline: 0 !important; 
    text-decoration: none;    
}



.notes-view-container .button:hover, .button-clear:hover {
    background-color: #4a9e9e;
}

.notes-view-container .listContainer {
    display: flex;
    flex-direction: column;    
}

.notes-view-container .listContainer .titleContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.notes-view-container .listContainer .titleContainer .toggleMenu {
    border: none;
    background: none;
    color: #3F7F7F;
    cursor: pointer;
    outline: none;
    max-width: 64px;
    position: absolute;
}

.notes-view-container .listContainer .titleContainer  span {
    font-size: 18px;
    font-weight: 600;
    align-self: center;
    justify-self: center;
}

.notes-view-container .listContainer .listActionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notes-view-container .listContainer .listActionsContainer .searchData {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.notes-view-container .listContainer .listActionsContainer .searchData input{
    width: 90%;
    max-width: 500px;
}

.notes-view-container .listContainer .listActionsContainer .searchData input:disabled{
    background-color: #9b9a95;
}
.notes-view-container .listContainer .listActionsContainer .searchData .button-clear {
    margin: 0;
    width: auto;
}

.notes-view-container .listContainer .listActionsContainer .button-clear {
    margin-top: 10px;    
}

.notes-view-container .listHeader{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 8px;   
}

.notes-view-container .listInfo{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 600px;

}

.notes-view-container .toggleOption{
    width: 32px;
    padding: 5px;
    background-color: #F3F2EA;
    color: #5a5a57;
    
    
}

.notes-view-container .toggleOption:hover{
    background-color: #d1d1ce;
}

.notes-view-container .toggleOption:disabled{
    background-color: #9b9a95;
}


.notes-view-container .listContainer .listOptions {
    display: flex;
    flex-direction: column;
}

.notes-view-container .listContainer .listHeader .listOptions .closeOptions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.notes-view-container .listContainer .listOptions .label {
    font-size: 14px;
    font-weight: 500;
    text-align: end;
}

.notes-view-container .listContainer .listOptions .options {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.notes-view-container .listContainer .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    align-items: center;
    margin-top: 18px;    
}

.notes-view-container .listContainer .list .title {
    display: none;
    font-size: 14px;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    margin-bottom: 16px;
}

.notes-view-container .listContainer .list .itemContainer, .itemContainer-nextPage {
    border: none;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FBFCF7;
    color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    outline: 0 !important;
    padding: 10px;
    text-decoration: none;
}

.notes-view-container .listContainer .list .itemContainer-nextPage {
    font-size: 18px;
    font-weight: 800;
    border-radius: 3px;
    color: #5c5c5c;
}

.notes-view-container .listContainer .list .itemContainer:hover, .itemContainer-nextPage:hover {
    background-color: #F3F2EA;
}

.notes-view-container .listContainer .list .itemContainer .itemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.notes-view-container .listContainer .list .itemContainer .itemContent .noteTitle{
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.notes-view-container .listContainer .list .itemContainer .itemContent .noteBody {
    color: #5B5B5B;
    text-align: left;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
}

.notes-view-container .listContainer .list .itemContainer .itemContent .noteDate {
    color: #5B5B5B;
    text-align: left;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
}

.notes-view-container .listContainer .list .itemContainer .itemIcon {
    display: none;    
}


@media (max-width: 900px){
    .notes-view-container .listContainer .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 750px){
    .notes-view-container .listContainer .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px){
    .notes-view-container .listContainer .list {
        grid-template-columns: repeat(1, 1fr);
    }

    .notes-view-container .listContainer .list .itemContainer .itemContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* padding: 20px; */
    }

    .notes-view-container .listContainer .list .itemContainer .itemContent span {
        text-align: start;
    }
    
    .notes-view-container .listContainer .list .itemContainer .itemIcon {
        display: flex;    
    }

    .notes-view-container .listContainer .list .itemContainer {    
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }

}

@media (max-width: 450px){
    .notes-view-container .button {
        display: none;
    }
}